{% extends 'admin/skeleton.admin.html.twig' %}
{% block title %}Админ-Панель{% endblock %}
{% block page %}
<div data-role="page">

    <div data-theme="a" data-role="header" data-position="inline">
        <a href="#" data-icon="back" data-rel="back">Назад</a>
        <h1>Админ панель</h1>
        <a href="/" data-icon="forward" rel="external">Перейти к сайту</a>
    </div><!-- /header -->

    <div data-role="content">
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li>
                    <a href="/admin/" data-icon="star" data-ajax="false"
                            {% if not admin_page %} class="ui-btn-active"{% endif %}>
                        Инфо
                    </a>
                </li>
                <li>
                    <a href="/admin/manager/" data-icon="gear" data-ajax="false"
                            {% if admin_page == 'manager' %} class="ui-btn-active"{% endif %}>
                        Управление
                    </a>
                </li>
                <li>
                    <a href="/admin/logout/" data-icon="delete" data-ajax="false">
                        Выход
                    </a>
                </li>
            </ul>
        </div>
        {% if not admin_page %}
        {% include 'admin/info.html.twig' %}
        {% else %}
        {% if admin_page == 'manager' %}{% include 'admin/manager.html.twig' %}{% endif %}
        {% endif %}
    </div>
    <!-- /content -->

    {% if not pagination %}
    <div data-theme="c" data-role="footer">
        <h3>
            Powered by TurboBatman CMF
        </h3>
    </div>
    {% else %}
    <div data-theme="a" data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                {% if pagination.prev_id %}
                    {% if pagination.prev_id > 1 %}
                    <li>
                        <a href="{{ uri }}?page=1" data-role="button">
                            1
                        </a>
                    </li>{% endif %}
                <li>
                    <a href="{{ uri }}?page={{ pagination.prev_id }}" data-role="button">
                        {{ pagination.prev_id }}
                    </a>
                </li>{% endif %}
                <li>
                    <a href="#" data-role="button" class="ui-btn-active">
                        {{ pagination.current_id }}
                    </a>
                </li>
                {% if pagination.next_id %}<li>
                <a href="{{ uri }}?page={{ pagination.next_id }}" data-role="button">
                    {{ pagination.next_id }}
                </a>
            </li>{% if pagination.total_pages > pagination.next_id %}<li>
                <a href="{{ uri }}?page={{ pagination.total_pages }}" data-role="button">
                    {{ pagination.total_pages }}
                </a>
            </li>{% endif %}{% endif %}
            </ul>
        </div><!-- /navbar -->
    </div>
    {% endif %}

</div><!-- /page -->{% endblock %}