{% if not news_content %}
    {% if news_list|length == 0 %}
        <h2>Нет результатов для отображения</h2>
    {% endif %}
    {% for item in news_list %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% set news_link = "/"~item.id~"-"~(item.title|tolink)~".html" %}
                <div class="panel-body" style="padding-top: 8px; padding-bottom: 8px;">
                    <h2>
                        <a href="{{ news_link }}">{{ item.title }}</a>
                    </h2>
                </div>
                <div class="panel-body">
                    {{ item.content|raw }}
                </div>
                <div class="panel-body panel-tags">
                    {% if item.tags %}
                        <span class="pull-right">{{ item.tags|raw }}</span>
                    {% endif %}
                    <span class="icon-user"></span> автор
                    <a href="/profile/{{ item.poster_id }}.html">
                        {{ item.poster_login }}
                    </a>
                    <span>&nbsp;|&nbsp;&nbsp;</span>
                    <span class="icon-calendar" style="padding-right: 2px;"></span> написано
                    <span class="dtl10n" style="padding-right: 2px;">{{ item.created_at }}</span>
                    <span>&nbsp;|&nbsp;&nbsp;</span>
                    <span class="icon-comments"></span>
                    <a href="{{ news_link }}#comment-form">
                        {% if item.comments_total %}
                            {{ (item.comments_total ~ " комментари")|plural("й", "я", "ев") }}
                        {% else %}
                            0 комментариев
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        {% if news_list|length > 1 %}
            <hr>{% endif %}
    {% endfor %}

    {% if pagination %}
        <!-- main pagination -->
        <ul class="pagination">
            {% if pagination.current_id != 1 %}
                <li><a href="/">1</a></li>{% endif %}
            {% if pagination.prev_id and pagination.prev_id != 1 %}
                <li><a href="/page_{{ pagination.prev_id }}.html">{{ pagination.prev_id }}</a></li>{% endif %}
            <li class="active"><a href="#">{{ pagination.current_id }}</a></li>
            {% if pagination.next_id %}
                <li><a href="/page_{{ pagination.next_id }}.html">{{ pagination.next_id }}</a></li>
                {% if pagination.total_pages > pagination.next_id %}
                    <li><a href="/page_{{ pagination.total_pages }}.html">{{ pagination.total_pages }}</a></li>
                {% endif %}
            {% endif %}
        </ul>
    {% endif %}
{% else %}
    <div class="hero-unit">
        <div class="page-header">
            <h1>{{ page_title }}</h1>
        </div>
        <div class="form-group panel-tags">
            {% if news_tags %}
                <span class="pull-right">{{ news_tags|raw }}</span>
            {% endif %}
            <span class="icon-user"></span> автор
            <a href="/profile/{{ news_poster_id }}.html">
                {{ news_poster_login }}
            </a>
            <span>&nbsp;|&nbsp;&nbsp;</span>
            <span class="icon-calendar" style="padding-right: 2px;"></span> написано
            <span class="dtl10n">{{ news_created_at }}</span>
        </div>
        <div class="form-group">{{ news_content|raw }}</div>
        <hr>
        <div class="btn-group">
            <a class="btn btn-default"
               href="https://twitter.com/intent/tweet?text={{ page_title|url_encode }}+http://{{ http_host }}{{ uri }}"
               target="_blank">
                <span class="icon-twitter-sign"></span> поделиться в twitter
            </a>
            <a id="btn-share-vk"
               class="btn {% if current_user.role == vk.user_role %}btn-vk{% else %}btn-default{% endif %}"
               href="https://vk.com/share.php?url=http://{{ http_host }}{{ uri }}&amp;title={{ page_title|url_encode }}"
               onclick="window.open(this.href, 'Опубликовать ссылку во Вконтакте', 'width=800,height=300'); return false">
                <span class="icon-vk"></span> поделиться вконтакте
            </a>
            <a id="btn-share-facebook"
               class="btn {% if current_user.role == fb.user_role %}btn-facebook{% else %}btn-default{% endif %}"
               href="https://www.facebook.com/sharer/sharer.php?u=http://{{ http_host }}{{ uri }}&amp;title={{ page_title|url_encode }}"
               onclick="window.open(this.href, 'Опубликовать ссылку в Facebook', 'width=640,height=436,toolbar=0,status=0'); return false">
                <span class="icon-facebook-sign"></span> поделиться в facebook
            </a>
            <a class="btn btn-default"
               href="https://plus.google.com/share?url=http://{{ http_host }}{{ uri }}&amp;title={{ page_title|url_encode }}"
               onclick="window.open(this.href, 'Опубликовать ссылку в Google Plus', 'width=800,height=300'); return false">
                <span class="icon-google-plus-sign"></span> поделиться в google+
            </a>
        </div>
        <hr>
        {% include 'widgets/news.comments.html.twig' %}
    </div>
    <div>&nbsp;</div>
{% endif %}