{% spaceless %}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{{ page_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ cms.news.feed_description }}">
        <link rel="alternate" type="application/rss+xml" title="{{ cms.news.feed_title }} - RSS" href="/feed/rss.xml">
        <link rel="alternate" type="application/atom+xml" title="{{ cms.news.feed_title }} - Atom" href="/feed/atom.xml">
        <link href="/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="apple-touch-icon" href="/favicon.png">

        <link href="/css/bootstrap.no-icons.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link href="/css/main.css" rel="stylesheet" media="screen">

        <script type="text/javascript">
            initCallback = function () {
            }
        </script>
    </head>

    <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="overflow:hidden; max-width: 350px; white-space: nowrap; text-overflow: ellipsis;" class="navbar-brand" href="/">{{ page_title }}</a>
        </div>

        {% spaceless %}
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="top-menu">
                <form class="hidden-xs navbar-form navbar-left" role="search" onsubmit="return searchFormSubmit('lg')">
                    <div class="form-group">
                        <input type="search" id="query-lg" class="form-control" size="50"
                               placeholder="Поиск по сайту"{% if filter_string %} value="{{ filter_string }}"{% endif %}>
                    </div>
                    <button type="submit" class="btn btn-default">Искать</button>
                </form>
                <form class="visible-xs navbar-form navbar-left" role="search" onsubmit="return searchFormSubmit('xs')">
                    <div class="form-group" style="display: inline-block;">
                        <input type="search" id="query-xs" class="form-control" style="display: inline-block;"
                               placeholder="Поиск по сайту"{% if filter_string %} value="{{ filter_string }}"{% endif %}>
                    </div>
                    <button type="submit" class="btn btn-default" style="display: inline-block;">Искать</button>
                </form>
                <ul class="nav navbar-nav navbar-right" id="menu-all">
                    <li class="dropdown" id="menu-nav">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu-nav">
                            <span class="icon-sitemap"></span>&nbsp;&nbsp;Навигация
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% for menu_name, menu_data in menu_navigation %}
                                <li>
                                    <a href="{{ menu_data.href }}">
                                        {% if menu_data.icon %}<span
                                            class="icon-{{ menu_data.icon }}"></span>&nbsp;&nbsp;{% endif %}{{ menu_name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if current_user.id %}
                        <li class="dropdown" id="menu1">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                                {% if current_user.photo %}<img src="{{ current_user.photo }}" alt="" width="22"
                                                                height="22"/>&nbsp;&nbsp;{% endif %}{% if current_user.full_name %}{{ current_user.full_name }}{% else %}{{ current_user.login }}{% endif %}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/profile/{{ current_user.id }}.html">
                                        <span class="icon-user"></span>&nbsp;&nbsp;Мой профиль
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/logout?csrf_token={{ csrf_token }}&amp;rpath={{ uri }}">
                                        <span class="icon-off"></span>&nbsp;&nbsp;Выход
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endspaceless %}
    </nav>

    <div class="container">
        {% if filter_string %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Показаны наиболее релевантные результаты поиска по запросу <strong><i>{{ filter_string }}</i></strong>
            </div>
        {% endif %}
        {% if flash_warning %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flash_warning }}
            </div>
        {% endif %}
        {% block body %}{% endblock %}
    </div>
    <!-- /container -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/ldt.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var ldt = new LocalizedDate(4);
            $(".dtl10n").each(function () {
                $(this).html(ldt.localize($(this).html())).removeClass("dtl10n")
            });
            $('.with-tooltip').tooltip();
            initCallback();
        });

        function searchFormSubmit(key) {
            var query = document.getElementById('query-' + key).value;
            window.location.href = '/look/' + encodeURI(query);
            return false;
        }
    </script>
    </body>
    </html>
{% endspaceless %}