{% spaceless %}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{{ page_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ cms.news.feed_description }}">
        <link rel="alternate" type="application/rss+xml" title="{{ cms.news.feed_title }} - RSS" href="/feed/rss.xml">
        <link rel="alternate" type="application/atom+xml" title="{{ cms.news.feed_title }} - Atom" href="/feed/atom.xml">
        <link href="/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="apple-touch-icon" href="/favicon.png">

        <link href="{{ resource.bootstrap_css }}" rel="stylesheet">
        <!--<link href="{{ resource.bootstrap_theme_css }}" rel="stylesheet" media="screen">-->
        <style>
            body {
                padding-top: 70px;
            }

            h2 a {
                color: #5f5f5f;
            }

            .panel-tags {
                color: gray;
            }

            .tag-link {
                padding-right: 2px;
            }

            .tag-link:hover, .tag-link:visited, .tag-link:link {
                text-decoration: none;
                outline: 0;
            }
        </style>
    </head>

    <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ page_title }}</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            {% if not current_user %}
                <!--<form class="pull-right form-inline" style="margin-top: 10px;" action="/login" method="POST">
                    <input class="form-control input-small" style="width: 100px;" placeholder="Логин" name="login">
                    <input class="form-control input-small" style="width: 100px; margin-left: 2px;" type="password"
                           placeholder="Пароль" name="password">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <button type="submit" style="margin-left: 2px;" class="btn btn-small">Sign in</button>
                </form>-->
                <!--<form class="navbar-form form-inline" action="/login" method="POST">
                    <input type="text" class="input-small" placeholder="Логин" name="login">
                    <input type="password" class="input-small" style="margin-left: 2px;" placeholder="Пароль" name="password">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <button type="submit" class="btn" style="margin-bottom: 0;">Войти</button>
                </form>-->
                <!--<script src="http://ulogin.ru/js/ulogin.js"></script>
                <div style="margin-bottom: 0; margin-top: 10px;" id="uLogin"
                     x-ulogin-params="display=small;fields=first_name,email;optional=last_name,nickname,photo,bdate,sex,photo_big;providers=vkontakte,odnoklassniki,mailru,facebook,twitter;hidden=;redirect_uri=http%3A%2F%2F{{ http_host }}%2Fopenauth%3Fcsrf_token%3D{{ csrf_token }}"></div>-->
            {% else %}
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown" id="menu1">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                            {% if current_user.photo %}
                                <img src="{{ current_user.photo }}" alt="" width="22" height="22"/>&nbsp;
                            {% endif %}{% if current_user.full_name %}&nbsp;&nbsp;{{ current_user.full_name }}
                            {% else %}{{ current_user.login }}
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/{{ current_user.id }}.html">Мой профиль</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout?csrf_token={{ csrf_token }}">Выход</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>

        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <!-- /container -->
    <script type="text/javascript" src="{{ resource.jquery_js }}"></script>
    <script type="text/javascript" src="{{ resource.ldt_js }}"></script>
    <script type="text/javascript" src="{{ resource.bootstrap_js }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var ldt = new LocalizedDate(4);
            $(".dtl10n").each(function () {
                $(this).html(ldt.localize($(this).html())).removeClass("dtl10n")
            })
        })
    </script>
    </body>
    </html>
{% endspaceless %}