{% if not data_action %}
<ol data-role="listview" data-inset="true" data-mini="true" data-filter="true">
    {% for role in roles_list %}
    <li>
        {% if role.id != 1 %}
        <a href="/admin/manager/acl?action=select&amp;identify={{ role.id }}">{% endif %}
            &nbsp;{% if role.id == 1 %}
                <span style="color: darkred">{{ role.title }}</span> - роль полного контроля, не конфигурируема
            {% elseif role.id == session_cfg.guest_role %}
                <span style="color: darkgreen">{{ role.title }}</span> - роль помечена в конфигурации как guest_role
            {% elseif role.id == session_cfg.bot_role %}
                <span style="color: darkblue">{{ role.title }}</span> - роль помечена в конфигурации как bot_role
            {% else %}
                <span>{{ role.title }}</span>
            {% endif %}
            {% if role.id != 1 %}
        </a>{% endif %}
    </li>
    {% endfor %}
</ol>
<a href="/admin/manager/acl?action=add&amp;csrf_token={{ csrf_token }}" data-role="button" data-icon="plus">
    Создать новую роль
</a>
{% elseif data_action == 'add'%}
<form action="/admin/manager/acl?action=add&amp;csrf_token={{ csrf_token }}" method="POST" data-ajax="false">
    <div data-role="fieldcontain">
        <label for="rtitle">Название роли:</label>
        <input type="text" name="title" id="rtitle" value="" required />
    </div>
    <div data-role="fieldcontain">
        <button type="submit" data-theme="d" data-icon="check">Сохранить</button>
    </div>
</form>
{% elseif data_action == 'select'%}
<form action="/admin/manager/acl?action=edit&amp;identify={{ object_identify }}&amp;csrf_token={{ csrf_token }}" method="POST" data-ajax="false">
    <div data-role="fieldcontain">
        <label for="rtitle">Название роли:</label>
        <input type="text" name="title" id="rtitle" value="{{ object_title }}" required />
    </div>
    <div data-role="fieldcontain">
        <button type="submit" data-theme="d" data-icon="check">Сохранить</button>
    </div>
    <div data-role="fieldcontain">
        <a href="/admin/manager/acl?action=delete&amp;identify={{ object_identify }}&amp;csrf_token={{ csrf_token }}"
            data-ajax="false">Удалить</a>
    </div>
</form>
{% endif %}