{% if not data_action %}
<ul data-role="listview" data-inset="true" data-mini="true"
    data-filter="true" data-filter-placeholder="Фильтровать...">
    {% for user in users_list %}
    <li>
        <a href="/admin/manager/users?action=select&amp;identify={{ user.id }}">
            {{ user.id }}.&nbsp;&nbsp;&nbsp;<span {% if user.role == 1 %}style="color: #8b0000;" {% endif %}>{{ user.login }}</span>
            - {{ user.title }}, зарегистрирован <span class="dtl10n">{{ user.registered_at }}</span>
        </a>
    </li>
    {% endfor %}
</ul>

<a href="/admin/manager/users?action=add&amp;csrf_token={{ csrf_token }}" data-role="button"
   data-icon="plus" data-theme="d">
    Создать нового пользователя
</a>
{% elseif data_action == 'add'%}
<form action="/admin/manager/users?action=add&amp;csrf_token={{ csrf_token }}"
      method="POST" data-ajax="false">
    <fieldset>
        <div data-role="fieldcontain">
            <label for="nlogin">Логин:</label>
            <input type="text" name="login" id="nlogin" value="" />
        </div>
        <div data-role="fieldcontain">
            <label for="npassword">Пароль:</label>
            <input type="text" name="password" id="npassword" value="" />
        </div>
        <div data-role="fieldcontain">
            <label for="nrole" class="select">Роль:</label>
            <select id="nrole" name="role" {% if not mobile %}data-native-menu="false"{% endif %}>
            {% for role in roles_list %}
                <option value="{{ role.id }}">{{ role.title }}</option>
            {% endfor %}
            </select>
        </div>
        <button type="submit" data-theme="d" name="submit" value="submit-value">
            Создать
        </button>
    </fieldset>
</form>
{% elseif data_action == 'edit'%}
<form action="/admin/manager/users?action=edit&amp;identify={{ user_identify }}&amp;csrf_token={{ csrf_token }}" method="POST" data-ajax="false">
    <fieldset>
        <div data-role="fieldcontain">
            <label for="elogin">Логин:</label>
            <input type="text" name="login" id="elogin" value="{{ user_login }}" />
        </div>
        <div data-role="fieldcontain">
            <label for="erole" class="select">Роль:</label>
            <select id="erole" name="role" {% if not mobile %}data-native-menu="false"{% endif %}>
                {% for role in roles_list %}
                <option value="{{ role.id }}"
                        {% if user_role == role.id %}
                        selected="selected"{% endif %}>{{ role.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div data-role="fieldcontain">
            <label for="pchng">Изменить пароль</label>
            <input type="checkbox" id="pchng" name="pchng" value="on" />
        </div>
        <div data-role="fieldcontain">
            <label for="epassword">Новый пароль:</label>
            <input type="text" name="password" id="epassword" value="" disabled="disabled" />
        </div>
        {% if profiles %}
        <div data-role="fieldcontain">
            <label for="enickname">Никнейм:</label>
            <input type="text" name="nickname" id="enickname" value="{{ user_nickname }}" />
        </div>
        <div data-role="fieldcontain">
            <label for="efullname">Полное имя:</label>
            <input type="text" name="full_name" id="efullname" value="{{ user_full_name }}" />
        </div>
        {% endif %}
        <button type="submit" data-theme="d" name="submit" value="submit-value">
            Сохранить изменения
        </button>
        <script type="text/javascript">
            $("#pchng").click(function() {
                if ($(this).is(":checked")) {
                    $("#epassword").removeAttr('disabled');
                } else {
                    $("#epassword").attr('disabled', 'disabled');
                }
            })
        </script>
    </fieldset>
</form>
{% elseif data_action == 'select'%}
        <div data-role="navbar" data-iconpos="top" class="ui-body-b">
            <ul>
                <li>
                    <a href="/admin/manager/users?action=edit&amp;identify={{ user_identify }}&amp;csrf_token={{ csrf_token }}"
                       data-icon="gear">Редактировать</a>
                </li>
                <li>
                    <a href="/admin/manager/users?action=delete&amp;identify={{ user_identify }}&amp;csrf_token={{ csrf_token }}"
                       data-icon="delete" data-ajax="false">Удалить</a>
                </li>
                <li>
                    <a href="/admin/manager/users"
                       data-icon="grid">К списку пользователей</a>
                </li>
            </ul>
        </div><!-- /navbar -->

        <div data-role="content">
            <ul data-role="listview" data-inset="true" data-mini="true">
                {% if profiles %}
                <li data-role="list-divider">Служебная информация</li>
                {% endif %}
                <li>Идентификатор пользователя: {{ user_identify }}</li>
                <li>Логин пользователя: {{ user_login }}</li>
                <li>Хеш пароля: {{ user_password }}</li>
                <li>Роль пользователя: {{ user_title }}</li>
                <li>Дата регистрации: <span class="dtl10n">{{ user_registered_at }}</span></li>
                {% if profiles %}
                <li data-role="list-divider">Профиль пользователя</li>
                {% if user_nickname %}<li>Никнейм: {{ user_nickname }}</li>{% endif %}
                {% if user_full_name %}<li>Полное имя: {{ user_full_name }}</li>{% endif %}
                {% if user_email %}<li>Email: {{ user_email }}</li>{% endif %}
                {% if user_email_confirm %}<li>Статус подтверждения email: {{ user_email_confirm }}</li>{% endif %}
                {% if user_birthday %}<li>Дата рождения: {{ user_birthday }}</li>{% endif %}
                {% if user_photo %}<li>Фотография: <a href="{{ user_photo }}">{{ user_photo }}</a></li>{% endif %}
                {% if user_gender %}<li>Пол пользователя: {{ user_gender }}</li>{% endif %}
                {% endif %}
            </ul>
        </div>
{% endif %}