{% if not data_action %}
<ul data-role="listview" data-inset="true" data-mini="true"
    data-filter="true" data-filter-placeholder="Фильтровать...">
    {% for user in users_list %}
    <li>
        <a href="/admin/manager/users?action=select&amp;identify={{ user.id }}">
            {{ user.id }}.&nbsp;&nbsp;&nbsp;<span {% if user.role == 1 %}style="color: #8b0000;" {% endif %}>{{ user.login }}</span>
            - {{ user.title }}, зарегистрирован <span class="dtl10n">{{ user.registered_at }}</span>
        </a>
    </li>
    {% endfor %}
</ul>

<a href="/admin/manager/users?action=add&amp;csrf_token={{ csrf_token }}" data-role="button"
   data-icon="plus" data-theme="d">
    Создать нового пользователя
</a>
{% elseif data_action == 'add'%}
add
{% elseif data_action == 'edit'%}
edit
{% elseif data_action == 'select'%}
        <div data-role="navbar" data-iconpos="top" class="ui-body-b">
            <ul>
                <li>
                    <a href="/admin/manager/users?action=edit&amp;identify={{ user_identify }}&amp;csrf_token={{ csrf_token }}"
                       data-icon="gear">Редактировать</a>
                </li>
                <li>
                    <a href="/admin/manager/users?action=delete&amp;identify={{ user_identify }}&amp;csrf_token={{ csrf_token }}"
                       data-icon="delete" data-ajax="false">Удалить</a>
                </li>
                <li>
                    <a href="/admin/manager/users"
                       data-icon="grid">К списку пользователей</a>
                </li>
            </ul>
        </div><!-- /navbar -->

        <div data-role="content">
            <ul data-role="listview" data-inset="true" data-mini="true">
                <li>Идентификатор пользователя: {{ user_identify }}</li>
                <li>Логин пользователя: {{ user_login }}</li>
                <li>Хеш пароля пользователя: {{ user_password }}</li>
                <li>Роль пользователя: {{ user_title }}</li>
                <li>Дата регистрации: <span class="dtl10n">{{ user_registered_at }}</span></li>
            </ul>
        </div>
{% endif %}