{% if not news_content %}
    {% for item in news_list %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% set news_link = "/"~item.id~"-"~(item.title|tolink)~".html" %}
                <div class="panel-body" style="padding-top: 8px; padding-bottom: 8px;">
                    <h2>
                        <a href="{{ news_link }}">{{ item.title }}</a>
                    </h2>
                </div>
                <div class="panel-body">
                    {{ item.content|raw }}
                </div>
                <div class="panel-body panel-tags">
                    {% if item.tags %}
                        <span class="pull-right">{{ item.tags|raw }}</span>
                    {% endif %}
                    <span class="icon-user"></span>
                    <a href="/profile/{{ item.poster_id }}.html">
                        {{ item.poster_login }}
                    </a>
                    <span>&nbsp;|&nbsp;&nbsp;</span>
                    <span class="icon-calendar" style="padding-right: 2px;"></span>
                    <span class="dtl10n">{{ item.created_at }}</span>
                    <span>&nbsp;|&nbsp;&nbsp;</span>
                    <span class="icon-comments"></span>
                    <a href="{{ news_link }}#comment-form">
                        {% if item.comments_total %}
                            {{ (item.comments_total ~ " Комментари")|plural("й", "я", "ев") }}
                        {% else %}
                            0 Комментариев
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}

    {% if pagination %}
        <!-- main pagination -->
        <ul class="pagination">
            {% if pagination.current_id != 1 %}
                <li><a href="/">1</a></li>{% endif %}
            {% if pagination.prev_id and pagination.prev_id != 1 %}
                <li><a href="/page_{{ pagination.prev_id }}.html">{{ pagination.prev_id }}</a></li>{% endif %}
            <li class="active"><a href="#">{{ pagination.current_id }}</a></li>
            {% if pagination.next_id %}
                <li><a href="/page_{{ pagination.next_id }}.html">{{ pagination.next_id }}</a></li>
                {% if pagination.total_pages > pagination.next_id %}
                    <li><a href="/page_{{ pagination.total_pages }}.html">{{ pagination.total_pages }}</a></li>
                {% endif %}
            {% endif %}
        </ul>
    {% endif %}
{% else %}
    <div class="hero-unit">
        <div class="page-header">
            <h1>{{ page_title }}</h1>
        </div>

        <h3>
            <small class="dtl10n">{{ news_created_at }}</small>
        </h3>
        <p>{{ news_content|raw }}</p>
        <hr>
        {% include 'widgets/news.comments.html.twig' %}
    </div>
    <div>&nbsp;</div>
{% endif %}