{% extends 'admin/skeleton.admin.html.twig' %}
{% block title %}{% if data_title %}{{ data_title }}{% else %}Статистика{% endif %}{% endblock %}
{% block page %}
<div data-role="page">

    <div data-theme="a" data-role="header" data-position="fixed">
        <a href="#" data-icon="back" data-rel="back">Назад</a>
        {% if not pagination %}
        <a href="/admin/logout/?csrf_token={{ csrf_token }}" data-icon="delete" rel="external">Выход</a>
        {% else %}
        <a href="/admin/manager/" data-icon="gear">Управление</a>
        {% endif %}
        <h1>{% if data_title %}{{ data_title }}{% else %}Статистика{% endif %}</h1>
    </div><!-- /header -->

    {% if not custom_content_view %}<div data-role="content">{% endif %}
        {% if not admin_page %}
            {% include 'admin/info.html.twig' %}
        {% else %}
            {% if admin_page == 'manager' %}{% include 'admin/manager.html.twig' %}{% endif %}
        {% endif %}
    {% if not custom_content_view %}</div>{% endif %}
    <!-- /content -->

    {% if not pagination %}
    <div data-theme="a" data-role="footer" class="ui-bar" data-position="fixed">
        <a href="/admin/" data-role="button" data-icon="star"
                {% if not admin_page %} class="ui-btn-active"{% endif %}>Статистика</a>
        <a href="/admin/manager/" data-role="button" data-icon="gear"
                {% if admin_page == 'manager' and not component %} class="ui-btn-active"{% endif %}>Управление</a>
        <a href="/" data-role="button" data-icon="home" rel="external">Сайт</a>
    </div>
    {% else %}
    <div data-theme="a" data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                {% if pagination.prev_id %}
                    {% if pagination.prev_id > 1 %}
                    <li>
                        <a href="{{ uri }}?page=1" data-role="button">
                            1
                        </a>
                    </li>{% endif %}
                <li>
                    <a href="{{ uri }}?page={{ pagination.prev_id }}" data-role="button">
                        {{ pagination.prev_id }}
                    </a>
                </li>{% endif %}
                <li>
                    <a href="#" data-role="button" class="ui-btn-active">
                        {{ pagination.current_id }}
                    </a>
                </li>
                {% if pagination.next_id %}<li>
                <a href="{{ uri }}?page={{ pagination.next_id }}" data-role="button">
                    {{ pagination.next_id }}
                </a>
            </li>{% if pagination.total_pages > pagination.next_id %}<li>
                <a href="{{ uri }}?page={{ pagination.total_pages }}" data-role="button">
                    {{ pagination.total_pages }}
                </a>
            </li>{% endif %}{% endif %}
            </ul>
        </div><!-- /navbar -->
    </div>
    {% endif %}

</div><!-- /page -->
<script type="text/javascript">
    $(document).bind('pageinit', function() {
        var ldt = new LocalizedDate(4, "ru");
        $(".dtl10n").each(function() {
            $(this).html(ldt.localize($(this).html())).removeClass("dtl10n")
        })
    })
</script>
{% endblock %}