<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ resource.bootstrap_css }}" rel="stylesheet" media="screen">
    <link href="/css/icons.css" rel="stylesheet" media="screen">
    <style>
        body {
            padding-top: {% if container.count %}110{% else %}60{% endif %}px;
        }

        h2 a {
            color: #5f5f5f;
        }

        .table-expand tr {
            height: 60px;
        }

        .modify {
            position: absolute;
            top: 25px;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">

            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" style="max-width: none;" href="{{ panel_base_uri }}/">{{ page_title }}</a>

            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown" id="menu1">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                            {% if current_user.photo %}
                                <img src="{{ current_user.photo }}" alt="" width="22" height="22"/>&nbsp;
                            {% endif %}{% if current_user.full_name %}&nbsp;&nbsp;{{ current_user.full_name }}
                            {% else %}{{ current_user.login }}
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ panel_base_uri }}/logout?csrf_token={{ csrf_token }}">Выход</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% if container.count %}
    <div class="navbar navbar-fixed-top" style="margin-top: 50px;">
        <div class="pull-left">
            <p class="navbar-text">
                Отображено
                <span id="display-info-total" style="font-weight: bold;">
                {{ (container.count ~ "</span> элемент")|plural("", "а", "ов")|raw }} на странице
                    (всего <span id="display-info-all" style="font-weight: bold;">{{ container.all_count }}</span>)
            </p>
        </div>
        <div class="pull-right">
            {% if container.create_new_message %}
            <button class="btn btn-success" style="margin-top: 5px;"
                    onclick="">
                <i class="icon-plus icon-white"></i>&nbsp;<span id="addmsg">{{ container.create_new_message }}</span>
            </button>
            {% endif %}
            <button class="btn btn-info" style="margin-top: 5px;"
                    onclick="$('#updt').html('обновление...');$(this).addClass('disabled');window.location.reload();">
                <i class="icon-refresh icon-white"></i>&nbsp;<span id="updt">обновить страницу</span>
            </button>
        </div>
    </div>
{% endif %}
<div class="row" style="width: 99%">
    <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked">
            {% for e in admin_menu_elements %}
                <li{% if admin_part == e.uri %} class="active"{% endif %}><a
                            href="{{ panel_base_uri }}/{{ e.uri }}">
                        <i class="{{ e.icon }}"></i>&nbsp;
                        {{ e.name }}
                    </a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-10">
        {% if container.type == 'text' %}
            {{ container.text }}
        {% elseif container.type == 'page' %}
            {% include 'admin/'~container.page~'.html.twig' %}
        {% elseif container.type == 'listing' %}
            <table class="table table-hover table-expand">
            {% for e in container.data %}
                <tr id="elements-row-{{ e[container.diff_field] }}" data-unique="{{ e[container.diff_field] }}">
                {% for h in container.fields_displayable %}
                    <td>
                        <div style="position: relative;">
                            <span class="field-{{ container.fields[h].type }}">
                                {% if container.fields[h].values[e[h]] %}
                                    {{ container.fields[h].values[e[h]] }}
                                {% else %}
                                    {{ e[h]|raw }}
                                {% endif %}
                            </span>
                        </div>
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
            {% if pagination %}
                <ul class="pagination">
                    {% if pagination.current_id != 1 %}
                        <li><a href="{{ panel_base_uri }}/{{ admin_part }}">1</a></li>{% endif %}
                    {% if pagination.prev_id and pagination.prev_id != 1 %}
                        <li>
                        <a href="{{ panel_base_uri }}/{{ admin_part }}/page_{{ pagination.prev_id }}">{{ pagination.prev_id }}</a>
                        </li>{% endif %}
                    <li class="active"><a href="#">{{ pagination.current_id }}</a></li>
                    {% if pagination.next_id %}
                        <li>
                            <a href="{{ panel_base_uri }}/{{ admin_part }}/page_{{ pagination.next_id }}">{{ pagination.next_id }}</a>
                        </li>
                        {% if pagination.total_pages > pagination.next_id %}
                            <li>
                                <a href="{{ panel_base_uri }}/{{ admin_part }}/page_{{ pagination.total_pages }}">{{ pagination.total_pages }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% endif %}
        {% else %}
        {% endif %}
    </div>
</div>

<script src="{{ resource.jquery_js }}"></script>
<script src="{{ resource.ldt_js }}"></script>
<script src="{{ resource.bootstrap_js }}"></script>
<script type="text/javascript">
    modifyPanel = {% if not container.only_display %}'<div class="modify">{% if container.create_new_message %}<a href="#change" class="change-link">Изменить</a> | {% endif %}' +
            '<a href="#delete" class="delete-link">Удалить</a></div>';{% else %}'';{% endif %}
    $(document).ready(function () {
        var ldt = new LocalizedDate(4);
        $(".field-datetime").each(function () {
            $(this).html(ldt.localize($(this).html())).removeClass("dtl10n")
        });
        $(".table-expand tr").each(function() {
            var unique = $(this).data('unique');
            $(this).hover(function(){
                $(this).find(".modify").fadeIn(0);
            }, function() {
                $(this).find(".modify").fadeOut(0);
            });

            var tmpElement = $(this).find("td:first div");
            tmpElement.html(tmpElement.html() + modifyPanel);

            var this_modify = $(this).find(".modify");
            this_modify.find(".change-link").data('unique', unique).click(function(){
                var unique = $(this).data('unique');
            });
            this_modify.find(".delete-link").data('unique', unique).click(function(){
                var unique = $(this).data('unique');
                $("#elements-row-" + unique).fadeOut();
                var result, nCounter1, nCounter2;
                nCounter1 = $("#display-info-total");
                nCounter2 = $("#display-info-all");
                result = (nCounter1.html())*1-1;
                nCounter1.html(result);
                result = (nCounter2.html())*1-1;
                nCounter2.html(result);
            });

            this_modify.fadeOut(0);
        })
    })
</script>
</body>
</html>