{% extends 'admin/skeleton.admin.html.twig' %}
{% block fixedb %}
{% if container.count %}
    <div class="navbar navbar-fixed-bottom navbar-inverse">
        {% if not mobile %}
		<div class="pull-left">
            <p class="navbar-text">
                Отображено
                <span id="display-info-total" style="font-weight: bold;">
                {{ (container.count ~ "</span> элемент")|plural("", "а", "ов")|raw }} на странице
                    (всего <span id="display-info-all" style="font-weight: bold;">{{ container.all_count }}</span>)
            </p>
        </div>
		{% endif %}
        <div {% if not mobile %}class="pull-right"{% endif %}>
            {% if container.create_new_message %}
            <button {% if not mobile %}data-toggle="modal" data-target="#modalCreate"{% else %}
			onclick="window.location.href='{{ panel_base_uri }}/{{ admin_part }}/create'"
			{% endif %} class="btn btn-default navbar-btn">
                <i class="icon-plus icon-white"></i>&nbsp;<span id="addmsg">{{ container.create_new_message }}</span>
            </button>
            {% endif %}
            {% if not mobile %}
			<button class="btn btn-default navbar-btn"
                    onclick="$('#updt').html('обновление...');$(this).addClass('disabled');window.location.reload();">
                <i class="icon-refresh icon-white"></i>&nbsp;<span id="updt">обновить страницу</span>
            </button>
			{% endif %}
        </div>
    </div>
{% endif %}
{% endblock %}
{% block container %}
{% if container.type == 'text' %}
            {{ container.text }}
        {% elseif container.type == 'page' %}
            {% include 'admin/'~container.page~'.html.twig' %}
        {% elseif container.type == 'listing' %}
			{% if container.data|length == 0 %}
			<div class="alert">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Внимание!</strong> Нет элементов для отображения - вероятно таблица пустая.
			</div>
			{% endif %}
            <table class="table table-hover table-expand">
            {% for e in container.data %}
                <tr id="elements-row-{{ e[container.diff_field] }}" data-unique="{{ e[container.diff_field] }}" 
				{% if mobile and not container.only_display %}
				onclick="window.location.href='{{ panel_base_uri }}/{{ admin_part }}/view?e={{ e[container.diff_field] }}'"
				{% endif %}>
                {% for h in container.fields_displayable %}
                    <td>
                        <div style="position: relative;">
                            <span class="field-{{ container.fields[h].type }}">
                                {% if container.fields[h].values[e[h]] %}
                                    {{ container.fields[h].values[e[h]] }}
                                {% else %}
                                    {{ e[h]|raw }}
                                {% endif %}
                            </span>
                        </div>
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
            {% if pagination %}
                <ul class="pagination">
                    {% if pagination.current_id != 1 %}
                        <li><a href="{{ panel_base_uri }}/{{ admin_part }}">1</a></li>{% endif %}
                    {% if pagination.prev_id and pagination.prev_id != 1 %}
                        <li>
                        <a href="{{ panel_base_uri }}/{{ admin_part }}/page_{{ pagination.prev_id }}">{{ pagination.prev_id }}</a>
                        </li>{% endif %}
                    <li class="active"><a href="#">{{ pagination.current_id }}</a></li>
                    {% if pagination.next_id %}
                        <li>
                            <a href="{{ panel_base_uri }}/{{ admin_part }}/page_{{ pagination.next_id }}">{{ pagination.next_id }}</a>
                        </li>
                        {% if pagination.total_pages > pagination.next_id %}
                            <li>
                                <a href="{{ panel_base_uri }}/{{ admin_part }}/page_{{ pagination.total_pages }}">{{ pagination.total_pages }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% endif %}
        {% else %}
        {% endif %}
{% endblock %}
{% block modal %}
{% if container.create_new_message %}<!-- Modal -->
  <div class="modal fade" id="modalCreate">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ container.create_new_message }}</h4>
        </div>
        <div class="modal-body">
          {% include "admin/form.create.html.twig" with container %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-primary">Сохранить</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
  <div class="modal fade" id="modalEdit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          {% include "admin/form.edit.html.twig" with container %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-primary">Сохранить изменения</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->{% endif %}

<!-- Modal -->
  <div class="modal fade" id="modalView">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" id="modalViewBody">
          <div class="progress progress-striped active"><div class="progress-bar" style="width: 100%"></div></div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}