<form id="edit-form" class="form-horizontal"
      action="{{ panel_base_uri }}/{{ admin_part }}/view?e={{ read_data[diff_field] }}&amp;csrf_token={{ csrf_token }}"
      method="POST">
    <fieldset>
        {% if container.type == 'form' %}
            <legend style="text-align: center;">
                Редактирование
            </legend>
            <div style="height: 7px; width: 10px;"></div>
        {% endif %}
        {% for field, field_data in fields %}
            {% if not field_data.default and field_data.type != 'calculated' and field_data.type != 'infinity' %}
                <div class="form-group">
                    <label for="edit-field-{{ field }}" class="col-lg-2 control-label">
                        {% if not field_data.description %}
                            {{ field|capitalize }}
                        {% else %}
                            {{ field_data.description }}
                        {% endif %}
                    </label>

                    <div class="col-lg-10">
                        {% if field_data.type == 'text' %}
                            <textarea name="pf-{{ field }}" class="form-control"
                                      id="edit-field-{{ field }}"{% if field_data.placeholder %}
                                placeholder="{{ field_data.placeholder }}"
                                    {% endif %}>{% if read_data[field] %}{{ read_data[field] }}{% endif %}</textarea>
                        {% elseif field_data.type == 'visual' %}
                            {% set textarea_editor_id = "edit-field-"~field %}
                            {% include 'admin/form.textarea.html.editor.html.twig' %}
                            <textarea name="pf-{{ field }}" class="form-control editor-attach"
                                      id="edit-field-{{ field }}">{% if read_data[field] %}{{ read_data[field] }}{% endif %}</textarea>
                        {% elseif field_data.type == 'select' %}
                            <select name="pf-{{ field }}" class="form-control"
                                    id="edit-field-{{ field }}">
                                {% for option in field_data.options %}
                                    <option value="{{ option.value }}"{% if read_data[field] == option.value or read_data[field] == option.name %} selected="selected"{% endif %}>{{ option.name }}</option>
                                {% endfor %}
                            </select>
                        {% elseif field_data.type == 'password' %}
                            <input type="password" name="pf-{{ field }}" class="form-control"
                                   id="edit-field-{{ field }}" placeholder="{{ field_data.placeholder ? field_data.placeholder : 'Не трогайте поле, чтобы оставить без изменений' }}">
                        {% elseif field_data.type == 'email' %}
                            <input type="email" name="pf-{{ field }}" class="form-control"
                                   id="edit-field-{{ field }}" placeholder="user@example.com" autocapitalize="off"
                                   autocorrect="off"
                                    {% if read_data[field] %} value="{{ read_data[field] }}"{% endif %}>
                        {% elseif field_data.type == 'integer' %}
                            <input type="number" name="pf-{{ field }}" class="form-control"{% if field_data.placeholder %}
                                placeholder="{{ field_data.placeholder }}"
                                    {% endif %}
                                   id="edit-field-{{ field }}"{% if read_data[field] %} value="{{ read_data[field] }}"{% endif %}>
                        {% elseif field_data.type == 'date' %}
                            <input type="date" name="pf-{{ field }}" class="form-control"{% if field_data.placeholder %}
                                placeholder="{{ field_data.placeholder }}"
                                    {% endif %}
                                   id="edit-field-{{ field }}"{% if read_data[field] %} value="{{ read_data[field] }}"{% endif %}>
                        {% elseif field_data.type == 'datetime' %}
                            <input type="datetime" name="pf-{{ field }}" class="form-control"{% if field_data.placeholder %}
                                placeholder="{{ field_data.placeholder }}"
                                    {% endif %}
                                   id="edit-field-{{ field }}"{% if read_data[field] %} value="{{ read_data[field] }}"{% endif %}>
                        {% elseif field_data.type == 'url' or field_data.type == 'uri' or field_data.type == 'image_uri' %}
                            <input type="url" name="pf-{{ field }}" class="form-control"{% if field_data.placeholder %}
                                placeholder="{{ field_data.placeholder }}"
                                    {% endif %}
                                   id="edit-field-{{ field }}"{% if read_data[field] %} value="{{ read_data[field] }}"{% endif %}>
                        {% elseif field_data.type == 'tags' %}
                            <input type="text" name="pf-{{ field }}" class="form-control tags-input-edit"
                                   id="edit-field-{{ field }}"
                                   data-auto="{% if read_data[field~"__many"] %}{{ read_data[field~"__many"] }}{% else %}{}{% endif %}"
                                    {% if read_data[field] %}
                                    value="{{ read_data[field] }}"{% endif %}>
                        {% else %}
                            <input type="text" name="pf-{{ field }}" class="form-control"{% if field_data.placeholder %}
                                placeholder="{{ field_data.placeholder }}"
                                    {% endif %}
                                   id="edit-field-{{ field }}"{% if read_data[field] %} value="{{ read_data[field] }}"{% endif %}>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if container.type == 'form' %}
            <br>
            <div class="col-lg-2">&nbsp;</div>
            <div class="col-lg-10">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                    <span class="icon-save"></span>&nbsp;Сохранить
                    изменения
                </button>
            </div>
        {% endif %}
    </fieldset>
    {% if container.type != 'form' %}
        <input type="hidden" name="return-page"
               value="{{ panel_base_uri }}/{{ admin_part }}{% if return_page %}/{{ return_page }}{% endif %}">
    {% endif %}
    <input type="hidden" name="post-action-edit" value="1">
</form>