{% if not custom_content_view %}<div data-role="content" id="manager_content">{% endif %}
    {% if not component %}
    <ul data-role="listview">
        {% for custom_admin_part in admin_extend %}
        <li>
            <a href="/admin/manager/{{ custom_admin_part.link }}">
                {% if not mobile %}<img src="/images/admin/{{ custom_admin_part.link }}.png" alt="" />{% endif %}
                <h3>{{ custom_admin_part.name }}</h3>
                <p>{{ custom_admin_part.description }}</p>
            </a>
                {% if custom_admin_part.count %}<span class="ui-li-count">
                    {{ (custom_admin_part.count ~ " " ~ custom_admin_part.plural.root)|plural(custom_admin_part.plural.first, custom_admin_part.plural.second, custom_admin_part.plural.third) }}
                </span>{% endif %}
        </li>
        {% endfor %}
        {% if cms.news %}<li>
            <a href="/admin/manager/news">
                {% if not mobile %}<img src="/images/admin/news.png" alt="" />{% endif %}
                <h3>Новостной блог</h3>
                <p>Размещайте новости или ведите блог на своём сайте.</p>
            </a>
                <span class="ui-li-count">
                    {{ (news_count ~ " новост")|plural("ь", "и", "ей") }}
                </span>
        </li>{% endif %}
        {% if cms.users %}<li>
            <a href="/admin/manager/users">
                {% if not mobile %}<img src="/images/admin/users.png" alt=""/>{% endif %}
                <h3>Пользователи</h3>
                <p>Создание, листинг, редактирование и удаление пользователей.</p>
            </a>
                <span class="ui-li-count">
                    {{ (users_count ~ " пользовател")|plural("ь", "я", "ей") }}
                </span>
        </li>
        <li>
            <a href="/admin/manager/acl">
                {% if not mobile %}<img src="/images/admin/acl.png" alt="" />{% endif %}
                <h3>Роли пользователей</h3>
                <p>Благодаря ролям вы можете изменять уровни доступа пользователей.</p>
            </a>
                <span class="ui-li-count">
                    {{ (roles_count ~ " рол")|plural("ь", "и", "ей") }}
                </span>
        </li>{% endif %}
        <li>
            <a href="/admin/manager/sessions">
                {% if not mobile %}<img src="/images/admin/sessions.png" alt="" />{% endif %}
                <h3>Монитор сессий</h3>
                <p>Посмотрите кто находится на вашем сайте в данный момент.</p>
            </a>
                <span class="ui-li-count">
                    {{ (sessions_count ~ " сесси")|plural("я", "и", "й") }}
                </span>
        </li>
        <li>
            <a href="/admin/manager/cronstress?csrf_token={{ csrf_token }}" data-ajax="false">
                {% if not mobile %}<img src="/images/admin/cron.png" alt="" />{% endif %}
                <h3>Планировщик задач</h3>
                <p>Выполнить задания cron прямо сейчас.</p>
            </a>
        </li>
    </ul>
    {% else %}
    {% include "admin/components/" ~ component ~ ".html.twig" %}
    {% endif %}
{% if not custom_content_view %}</div>{% endif %}