<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="{{ resource.bootstrap_css }}" rel="stylesheet" media="screen">
    <link href="{{ resource.bootstrap_theme_css }}" rel="stylesheet" media="screen">
    <link href="{{ resource.font_awesome_css }}" rel="stylesheet" media="screen">
    <link href="{{ resource.jquery_tags_input_css }}" rel="stylesheet" media="screen">

    <link href="/img/admin/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="apple-touch-icon" href="/img/admin/favicon.png">

    <style>
        body {
            padding-top: 70px;
            margin-right: 15px;
            {% if container.count %} padding-bottom: 60px;
        {% endif %}
        }

        h2 a {
            color: #5f5f5f;
        }

        a:active, a:link, button:active, button:link {
            outline: 0;
        }

        .table-expand tr {
            height: 60px;
        }

        .modify {
            position: absolute;
            top: 25px;
            white-space: nowrap;
            z-index: 5000;
            background-color: rgb(245, 245, 245);
            border: 1px #f5f5f5 solid;
            border-radius: 8px;
            padding: 0 10px;
            opacity: 0.9;
        }

        .stats-div {
            padding: 15px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(221, 221, 221);
            border-radius: 4px 4px 4px 4px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
            display: inline-block;
        }

        .stats-div strong {
            font-size: 26px;
            margin-bottom: 3px;
            margin-top: 6px;
        }

        .pretty-good {
            color: rgb(69, 157, 28);
            font-size: 10px;
            font-weight: bold;
            padding: 10px 14px 6px 4px;
        }

        .pretty-neutral {
            color: rgb(117, 117, 117);
            font-size: 10px;
            font-weight: bold;
            padding: 10px 14px 6px 4px;
        }

        .pretty-bad {
            color: rgb(186, 30, 32);
            font-size: 10px;
            font-weight: bold;
            padding: 10px 14px 6px 4px;
        }

        .table-stats {
            width: 100%;
        }

        .table-stats td {
            text-align: center;
            color: rgb(102, 102, 102);
            min-width: 70px;
        }

        .editor-attach {
            min-height: 200px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% if not mobile %}
            <a class="navbar-brand" style="max-width: none;"
               href="{{ panel_base_uri }}/">
                <img src="/favicon.png" alt="" height="20" style="opacity: 0.6">&nbsp;
                <span id="title-brand">{{ page_title }}</span>
            </a>
        {% endif %}
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% include 'admin/admin.links.html.twig' %}
            {% if mobile %}
                {% for e in admin_menu_elements %}
                    <li{% if admin_part == e.uri %} class="active"{% endif %}>
                        <a href="{{ panel_base_uri }}/{{ e.uri }}">{{ e.name }} {% if e.count %}[{{ e.count }}]{% endif %}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        {% if mobile %}
            <ul class="nav navbar-nav pull-right">
                <li><a href="{{ panel_base_uri }}/logout?csrf_token={{ csrf_token }}">Выход ({{ current_user.login }}
                        )</a></li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" id="menu1">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                        {% if current_user.photo %}
                            <img src="{{ current_user.photo }}" alt="" width="22" height="22"/>&nbsp;
                        {% endif %}{% if current_user.full_name %}&nbsp;&nbsp;{{ current_user.full_name }}
                        {% else %}{{ current_user.login }}
                        {% endif %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% if current_user.id %}
                            <li role="presentation" class="dropdown-header">
                                Управление
                            </li>
                            <li role="presentation">
                                <a role="menuitem" href="{{ panel_base_uri }}/crudusers/edit?e={{ current_user.id }}">
                                    Изменить пароль
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" href="{{ panel_base_uri }}/crudusersdata/edit?e={{ current_user.id }}">
                                    Изменить профиль
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                        {% endif %}
                        <li role="presentation">
                            <a role="menuitem" href="{{ panel_base_uri }}/logout?csrf_token={{ csrf_token }}">
                                Выход
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
{% block fixedb %}{% endblock %}
{% if not mobile %}
<div class="row" style="width: 99%">
    <div class="col-lg-2" style="min-width: 290px; margin-left: 5px;">
        <ul class="nav nav-pills nav-stacked">
            {% for e in admin_menu_elements %}
                <li class="{% if admin_part == e.uri %}base-active active{% endif %} left-menu-element"><a
                            href="{{ panel_base_uri }}/{{ e.uri }}" data-history="{{ e.name }}">
                        <span class="icon-{{ e.icon }}"></span>&nbsp;
                        {{ e.name }}
                        {% if e.count %}<span class="badge pull-right">{{ e.count }}</span>{% endif %}
                    </a></li>
            {% endfor %}
        </ul>
    </div>{% endif %}
    <div class="{% if not mobile %}col-lg-9{% else %}container{% endif %}" id="main-container">
        {% block container %}{% endblock %}
    </div>
    {% if not mobile %}</div>{% endif %}

{% block modal %}{% endblock %}

<script src="{{ resource.jquery_js }}"></script>
<script src="{{ resource.ldt_js }}"></script>
<script src="{{ resource.bootstrap_js }}"></script>
<script src="{{ resource.jquery_tags_input_js }}"></script>
{% if not mobile %}
    <script src="{{ resource.batman_hand_js }}"></script>
{% endif %}
{% include "admin/admin.js.html.twig" with container %}
</body>
</html>