{% spaceless %}
<div>
	<strong>{{ (visit_stats.total.hits ~ "</strong> просмотр")|plural("", "а", "ов")|raw }} всего
</div>
<br>
<div>
	<strong>{{ (visit_stats.today.visitors ~ "</strong> посетител")|plural("ь", "я", "ей")|raw }} сегодня <small>(разница {{ visit_stats.today.diff_percent }}%)</small>
</div>
<div>
	<strong>{{ (visit_stats.yesterday.visitors ~ "</strong> посетител")|plural("ь", "я", "ей")|raw }} вчера
</div>
<br>
<div>
	<strong>{{ (visit_stats.today.hits ~ "</strong> просмотр")|plural("", "а", "ов")|raw }} сегодня
</div>
<div>
{% if not visit_stats.yesterday.hits %}
	<strong>0</strong> просмотров вчера
{% else %}
	<strong>{{ (visit_stats.yesterday.hits ~ "</strong> просмотр")|plural("", "а", "ов")|raw }} вчера
{% endif %}
</div>
<br>
<div>
	<strong>{{ (visit_stats.this_week.visitors ~ "</strong> посетител")|plural("ь", "я", "ей")|raw }} за неделю <small>(разница {{ visit_stats.this_week.diff_percent }}%)</small>
</div>
<div>
	<strong>{{ (visit_stats.last_week.visitors ~ "</strong> посетител")|plural("ь", "я", "ей")|raw }} на прошлой неделе
</div>
<br>
<div>
	<strong>{{ (visit_stats.this_week.hits ~ "</strong> просмотр")|plural("", "а", "ов")|raw }} за неделю
</div>
<div>
{% if not visit_stats.last_week.hits %}
	<strong>0</strong> просмотров на прошлой неделе
{% else %}
	<strong>{{ (visit_stats.last_week.hits ~ "</strong> просмотр")|plural("", "а", "ов")|raw }} на прошлой неделе
{% endif %}
</div>
{% endspaceless %}