{% if not data_action %}
<div data-role="navbar" data-iconpos="top">
    <ul>
        <li>
            <a href="/admin/manager/news?action=new&amp;csrf_token={{ csrf_token }}" data-icon="plus">Создать новую запись</a>
        </li>
    </ul>
</div><!-- /navbar -->

<div data-role="content">

    <ol data-role="listview" data-split-icon="delete" data-split-theme="d">
        {% for post in news_list %}
        <li>
            <a href="/admin/manager/news?action=select&amp;identify={{ post.id }}">
                {{ post.title }} {% if post.poster_login %}(написал {{ post.poster_login }}, {% endif %}
                <span class="dtl10n">{{ post.created_at }}</span>)
            </a>
            <a href="/admin/manager/news?action=delete&amp;identify={{ post.id }}&amp;csrf_token={{ csrf_token }}"
               data-ajax="false">Удалить</a>
        </li>
        {% endfor %}
    </ol>

</div><!-- /content -->
{% else %}
    {% if data_action=='new' %}
    <form action="/admin/manager/news?action=new&amp;csrf_token={{ csrf_token }}" method="POST" data-ajax="false">
        <div data-role="fieldcontain">
            <label for="ftitle">Заголовок:</label>
            <input type="text" name="titlen" id="ftitle" value="" required />
        </div>
        <div data-role="fieldcontain">
            <label for="fcontent">Содержимое:</label>
            <textarea name="contentn" id="fcontent" required></textarea>
        </div>
        <div data-role="fieldcontain">
            <label for="ftags">Теги сообщения:</label>
            <input type="text" name="tagsn" id="ftags" value="" />
        </div>
        <div data-role="fieldcontain">
            <button type="submit" data-theme="d" data-icon="check">Сохранить</button>
        </div>
    </form>
    {% if not mobile %}
        {% include 'admin/tinymce.html.twig' %}
    {% endif %}
    {% endif %}
    {% if data_action=='edit' %}
    <form action="/admin/manager/news?action=edit&amp;identify={{ object_identify }}&amp;csrf_token={{ csrf_token }}" method="POST" data-ajax="false">
        <div data-role="fieldcontain">
            <label for="etitle">Заголовок:</label>
            <input type="text" name="title" id="etitle" value="{{ object_title }}" required />
        </div>
        <div data-role="fieldcontain">
            <label for="econtent">Содержимое:</label>
            <textarea name="content" id="econtent" required>{{ object_content }}</textarea>
        </div>
        <div data-role="fieldcontain">
            <label for="etags">Теги сообщения:</label>
            <input type="text" name="tags" id="etags" value="{{ object_tags }}" />
        </div>
        <div data-role="fieldcontain">
            <button type="submit" data-theme="d" data-icon="check">Сохранить</button>
        </div>
    </form>
    {% if not mobile %}
        {% include 'admin/tinymce.html.twig' %}
    {% endif %}
    {% endif %}
    {% if data_action=='select' %}
        <div data-role="navbar" data-iconpos="top" class="ui-body-b">
            <ul>
                <li>
                    <a href="/admin/manager/news?action=edit&amp;identify={{ object_identify }}&amp;csrf_token={{ csrf_token }}"
                       data-icon="gear">Редактировать</a>
                </li>
                <li>
                    <a href="/admin/manager/news?action=delete&amp;identify={{ object_identify }}&amp;csrf_token={{ csrf_token }}"
                       data-icon="delete" data-ajax="false">Удалить</a>
                </li>
                <li>
                    <a href="/admin/manager/news"
                       data-icon="grid">К списку новостей</a>
                </li>
            </ul>
        </div><!-- /navbar -->

        <div data-role="content">
            {{ object_content|raw }}
        </div>
    {% endif %}
{% endif %}