<ul data-role="listview" data-filter="true" data-inset="true">
    {% for session in sessions_list %}
    <li>
        <h3>{{ session.session_role }}</h3>
        <p>
            IP посетителя: {{ session.ip }}
        </p>
        <p>
            Токен: {{ session.token }}
        </p>
        <p>
            Посетитель {% if session.user %}авторизован как <strong>{{ session.user }}</strong>
            {% else %}не авторизован{% endif %}
        </p>
        <p>
            {{ session.user_agent }}
        </p>
        <p class="ui-li-aside"><strong>{{ session.uptime }}</strong></p>
    </li>
    {% endfor %}
</ul>