<ul data-role="listview" data-filter="true" data-inset="true">
    {% for session in sessions_list %}
    <li{% if user_token==session.token %} class="ui-overlay-e"{% endif %}>
        <h3>{{ session.token }}</h3>
        <p>
            Роль: {{ session.session_role }}
        </p>
        <p>
            Обновление: <span class="dtl10n">{{ session.uptime }}</span>
        </p>
        <p>{% if user_token==session.token %}Это ваша текущая сессия{% else %}
            Посетитель {% if session.user %}авторизован как <strong>{{ session.user }}</strong>
            {% else %}не авторизован{% endif %}{% endif %}
        </p>
        {% if session.referer %}
        <p>
            Реферер: <a href="{{ session.referer }}" rel="external" target="_blank">{{ session.referer|escape }}</a>
        </p>
        {% endif %}
        <p>
            {{ session.user_agent }}
        </p>
        <p class="ui-li-aside"><strong>{{ session.ip }}</strong></p>
    </li>
    {% endfor %}
</ul>