<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tranquility :: Installer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ resource.jquery_mobile_css }}">
    <script type="text/javascript" src="{{ resource.jquery_js }}"></script>
    <script type="text/javascript" src="{{ resource.jquery_mobile_js }}"></script>
</head>
<body>
<div data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>Установка системы</h1>
    </div><!-- /header -->
    <div data-role="content">
        {% if not setup %}
            <form action="/install" method="GET">
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="sited">Название сайта</label>
                        <input type="text" id="sited" name="site" required="required" />
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="secd">Хаотический набор букв и цифр:</label>
                        <input type="text" id="secd" name="secure" required="required" />
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="mysqlhostd">Хост MySQL:</label>
                        <input type="text" id="mysqlhostd" name="mysqlhost" required="required" value="localhost" />
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="mysqllogind">Логин MySQL пользователя:</label>
                        <input type="text" id="mysqllogind" name="mysqllogin" required="required" value="root" />
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="mysqlpasswordd">Пароль MySQL пользователя:</label>
                        <input type="text" id="mysqlpasswordd" name="mysqlpassword" value="" />
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="rootd">Авторизация MySQL client:</label>
                        <input type="text" id="rootd" name="root" required="required" value="-uroot" />
                    </fieldset>
                </div>
                <div>
                    <button data-role="submit">Установить</button>
                </div>
            </form>
        {% else %}
            <h2>Результат установки</h2>
            {% if ress %}<ol data-role="listview" data-inset="true" data-theme="a">
                {% for res in ress %}
                <li>{{ res|raw }}</li>
                {% endfor %}
            </ol>
            {% endif %}
            {% if errs%}<ol data-role="listview" data-inset="true" data-theme="e">
                {% for err in errs %}
                <li>{{ err }}</li>
                {% endfor %}
            </ol>{% endif %}
        {% endif %}
    </div>
</div>
</body>
</html>